{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "globals": {
    "React": true,
    "ReactDOM": true,
    "PropTypes": true
  },
  "rules": {
    "import/no-anonymous-default-export": 0,
  }
}
